body {
    background-color: #F5FFFD;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#mineSweeper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
	display:block;
	background-image:url("buttonBackground.png");
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
