body {
    background-color: #F5FFFD;
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#mineSweeper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button {
	background-image: url('buttonBackground.jpg');background-repeat: repeat-x;
	height: 20px;
	width: 80px;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}
